= form_for child do |f|
  - if child.errors.any?
    %ul.errors
      - child.errors.full_messages.each do |error_message|
        %li= error_message
  %fieldset
    = f.label :name
    = f.text_field :name
  %fieldset.actions
    = f.submit "save"
