%h1 New Child
%p
  = form_for child do |f|
    - if child.errors.any?
      %ul.errors
        - child.errors.full_messages.each do |error_message|
          %li= error_message
    = f.label :name
    = f.text_field :name
    = f.submit 'add'
