- if !user_signed_in?
  .clouded
    .copy
      %h1 Welcome
      %p Tired Tots helps you track your child's sleep habits so that you can better understand the link between the sleep your child is getting and her behavior.
      To get started,
      = link_to "sign up", new_user_registration_path
- else
  - if current_user.children.empty?
    %p
      To get started,
      = link_to "add a child", new_child_path
  - else
    .children_header
      %h1
        Your children
        = link_to "(manage)", children_path
    %ul.children
      - current_user.children.each do |child|
        %li.child{:class => cycle("odd", "even")}
          .child_name= child.name
          %p= link_to "Sleep journal", child_sleep_blocks_path(child)
          - if child.recent_tracked_days.count > 1
            %p Average sleep for the past two weeks:
            .chart_data
              %dl
                %dt Average
                %dd= child.recent_sleep_average_in_hours
              %table
                %thead
                  %tr
                    %th day
                    %th total
                %tbody
                  - child.recent_tracked_days.each do |tracked_day|
                    %tr
                      %td= tracked_day.for_date.to_s(:msd)
                      %td= number_with_precision(tracked_day.sleep_total_in_hours, :precision => 1)
          - else
            Not enough data to chart yet.
