- content_for :pre_mobile_load do
  %script(type='text/javascript')
    $(document).bind("mobileinit", function(){
    $.extend($.mobile, { ajaxFormsEnabled: false });
    });

- content_for :toolbar do
  %h1 Sign In

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.text_field :email, placeholder: 'Email'
  .field
    = f.password_field :password, placeholder: 'Password'
  .field
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Sign in"
