- tracked_days.each_with_index do |tracked_day, day_index|
  - date = tracked_day.for_date
  %div(class="day #{date.to_s(:md).parameterize}")
    .date= link_to date.to_s(:md), for_date_child_sleep_blocks_path(child, date)
    - ten_minute_times.each do |ten_minute_time|
      - formatted_time = ten_minute_time.to_s(:hmm)
      - time_block = Time.zone.parse(date.strftime("%Y-%m-%d ").concat(formatted_time))
      - if child.sleep_block_covering(time_block)
        %div(class="asleep #{formatted_time}" title="#{formatted_time}")
      - else
        - if (day_index == 0 || day_index == tracked_days.size - 1) && child.no_data_for_time_block(time_block)
          %div(class="no_data #{formatted_time}" title="#{formatted_time}")
        - else
          %div(class="awake #{formatted_time}" title="#{formatted_time}")
    .total= friendly_sleep_total(tracked_day.sleep_total)
