%h1
  Sleep journal for
  = child.name

- if tracked_days.any?
  .sleep_blocks
    .header
      .date &nbsp;
      - the_time = Time.parse("12am")
      - 144.times do |index|
        - if (index % 6).zero?
          .hour= the_time.to_s(:hm)
        - else
          .hour &nbsp;
        - the_time += 10.minutes
    - tracked_days.each_with_index do |tracked_day, day_index|
      - date = tracked_day.for_date
      %div(class="day #{date.to_s(:md).parameterize}")
        .date= link_to date.to_s(:md), child_sleep_blocks_for_date_path(child, date)
        - 144.times do |index|
          - time_block = date.to_time + (index*10).minutes
          - formatted_time = time_block.to_s(:hmm)
          - if child.sleep_block_covering(time_block)
            %div(class="asleep #{formatted_time}" title="#{formatted_time}")
          - else
            - if (day_index == 0 || day_index == tracked_days.size - 1) && child.no_data_for_time_block(time_block)
              %div(class="no_data #{formatted_time}" title="#{formatted_time}")
            - else
              %div(class="awake #{formatted_time}" title="#{formatted_time}")
        .total= friendly_sleep_total(tracked_day.sleep_total)

- if child.unfinished_sleep_block?
  %h2.clear Open sleep block
  = render :partial => "form"
  or
  = button_to "delete", child_sleep_block_path(child, sleep_block), :method => "delete"
- else
  %h2.clear New sleep block
  = render :partial => "form"
