%h1
  Sleep journal for
  = child.name

- if sleep_blocks.any?
  .sleep_blocks
    .header
      .date &nbsp;
      - the_time = Time.parse("12am")
      - 144.times do |index|
        - if (index % 6).zero?
          .hour= the_time.strftime("%-1I %P")
        - else
          .hour &nbsp;
        - the_time = the_time + 10.minutes
    - child.sleep_data_range.each do |date|
      .day
        .date= date.strftime("%b %-1d")
        - 40.times do
          .asleep
        - 75.times do
          .awake
        - 29.times do
          .asleep

  %ul.sleep_blocks
    - sleep_blocks.each do |sleep_block|
      %li
        #{sleep_block.start_time.to_s(:brief)}
        \-
        - if sleep_block.finish_time.present?
          #{sleep_block.finish_time.to_s(:brief)}
        - else
          (unfinished)
        = link_to "edit", edit_child_sleep_block_path(child, sleep_block)

- if child.unfinished_sleep_block?
  %h2 Open sleep block
- else
  %h2 New sleep block
= render :partial => 'form'
