%h1
  Sleep journal for
  = child.name

- if sleep_blocks.any?
  %ul.sleep_blocks
    - sleep_blocks.each do |sleep_block|
      %li
        #{sleep_block.start.to_s(:brief)}
        \-
        - if sleep_block.finish.present?
          #{sleep_block.finish.to_s(:brief)}
        - else
          (unfinished)
        = link_to "edit", edit_child_sleep_block_path(child, sleep_block)

- if child.unfinished_sleep_block?
  %h2 Open sleep block
- else
  %h2 New sleep block
= render :partial => 'form'
