.sleep_form
  = render :partial => "form"
  - if child.unfinished_sleep_block?
    or
    = button_to "delete", child_sleep_block_path(child, sleep_block), :method => "delete"

- if tracked_days.any?
  .sleep_table
    .header
      .date &nbsp;
      - ten_minute_times.each_with_index do |ten_minute_time, index|
        - if (index % 6).zero?
          .hour= ten_minute_time.to_s(:hm)
        - else
          .hour &nbsp;
    .days
      = render :partial => 'tracked_days', :locals => {:tracked_days => tracked_days, :ten_minute_times => ten_minute_times}
    - if more_tracked_days
      = render :partial => 'view_more', :locals => {:child => child}
