%h1
  Sleep journal for
  = child.name

- if sleep_blocks.any?
  .sleep_blocks
    .header
      .date &nbsp;
      - the_time = Time.parse("12am")
      - 144.times do |index|
        - if (index % 6).zero?
          .hour= the_time.strftime("%-1I %P")
        - else
          .hour &nbsp;
        - the_time += 10.minutes
    - child.sleep_data_range.each do |date|
      %div(class="day #{date.strftime("%b %-1d").parameterize}")
        .date= date.strftime("%b %-1d")
        - the_time = Time.parse("12am")
        - 144.times do |index|
          - block = child.sleep_block_covering(date.to_time + (index*10).minutes)
          - if block
            = link_to edit_child_sleep_block_path(child, block), :id => "#{date.strftime("%b %-1d").parameterize}_#{the_time.strftime('%-1I:%M%P')}", :title => the_time.strftime('%-1I:%M%P') do
              %div(class="asleep #{the_time.strftime('%-1I:%M%P')}")
          - else
            %div(class="awake #{the_time.strftime('%-1I:%M%P')}" title="#{the_time.strftime('%-1I:%M%P')}")
          - the_time += 10.minutes

- if child.unfinished_sleep_block?
  %h2.clear Open sleep block
  = render :partial => "form"
  or
  = button_to "delete", child_sleep_block_path(child, sleep_block), :method => "delete"
- else
  %h2.clear New sleep block
  = render :partial => "form"
