%h1
  Sleep journal for
  = child.name

- if sleep_blocks.any?
  .sleep_blocks
    .header
      .date &nbsp;
      - the_time = Time.parse("12am")
      - 144.times do |index|
        - if (index % 6).zero?
          .hour= the_time.to_s(:hm)
        - else
          .hour &nbsp;
        - the_time += 10.minutes
    - child.sleep_data_range.each do |date|
      %div(class="day #{date.to_s(:md).parameterize}")
        .date= date.to_s(:md)
        - the_time = Time.parse("12am")
        - 144.times do |index|
          - time_block = date.to_time + (index*10).minutes
          - block = child.sleep_block_covering(time_block)
          - if block
            = link_to edit_child_sleep_block_path(child, block), :id => "#{date.to_s(:md).parameterize}_#{the_time.to_s(:hmm)}", :title => the_time.to_s(:hmm) do
              %div(class="asleep #{the_time.to_s(:hmm)}")
          - else
            - if child.no_data_for_time_block(time_block)
              %div(class="no_data #{the_time.to_s(:hmm)}" title="#{the_time.to_s(:hmm)}")
            - else
              %div(class="awake #{the_time.to_s(:hmm)}" title="#{the_time.to_s(:hmm)}")
          - the_time += 10.minutes
        .total= friendly_sleep_total(child.sleep_total_in_seconds_for_day(date))

- if child.unfinished_sleep_block?
  %h2.clear Open sleep block
  = render :partial => "form"
  or
  = button_to "delete", child_sleep_block_path(child, sleep_block), :method => "delete"
- else
  %h2.clear New sleep block
  = render :partial => "form"
