%h1
  Sleep journal for
  = child.name

- if child.unfinished_sleep_block?
  %h2.clear Open sleep block
  = render :partial => "form"
  or
  = button_to "delete", child_sleep_block_path(child, sleep_block), :method => "delete"
- else
  %h2.clear New sleep block
  = render :partial => "form"

- if tracked_days.any?
  .sleep_blocks
    .header
      .date &nbsp;
      - the_time = Time.parse("12am")
      - 144.times do |index|
        - if (index % 6).zero?
          .hour= the_time.to_s(:hm)
        - else
          .hour &nbsp;
        - the_time += 10.minutes
    .days
      = render :partial => 'tracked_days', :locals => {:tracked_days => tracked_days, :more_tracked_days => more_tracked_days}
    - if more_tracked_days
      = render :partial => 'view_more', :locals => {:child => child}
