%h1
  Sleep journal for
  = child.name

%p= link_to "new sleep block", new_child_sleep_block_path(child)

- if sleep_blocks.any?
  %ul.sleep_blocks
    - sleep_blocks.each do |sleep_block|
      %li
        Start: #{sleep_block.start.to_s(:brief)}
        - if sleep_block.finish.nil?
          Finish: (not yet finished)
        - else
          Finish: #{sleep_block.finish.to_s(:brief)}
        = link_to "edit", edit_child_sleep_block_path(child, sleep_block)
