%h1
  Sleep journal for
  = child.name

- if sleep_blocks.any?
  .sleep_blocks
    .header
      .date &nbsp;
      - the_time = Time.parse("12am")
      - 144.times do |index|
        - if (index % 6).zero?
          .hour= the_time.strftime("%-1I %P")
        - else
          .hour &nbsp;
        - the_time = the_time + 10.minutes
    - child.sleep_data_range.each do |date|
      .day
        .date= date.strftime("%b %-1d")
        - 144.times do |index|
          - block = child.sleep_block_covering(date.to_time + (index*10).minutes)
          - if block
            = link_to edit_child_sleep_block_path(child, block), :title => block do
              .asleep
          - else
            .awake

  %ul.sleep_blocks
    - sleep_blocks.each do |sleep_block|
      %li
        #{sleep_block.start_time.to_s(:brief)}
        \-
        - if sleep_block.finish_time.present?
          #{sleep_block.finish_time.to_s(:brief)}
        - else
          (unfinished)
        = link_to "edit", edit_child_sleep_block_path(child, sleep_block)

- if child.unfinished_sleep_block?
  %h2 Open sleep block
  = render :partial => "form"
  or
  = button_to "delete", child_sleep_block_path(child, sleep_block), :method => "delete"
- else
  %h2 New sleep block
  = render :partial => "form"
