!!! 5
%html(lang="en-US" class=page_class)
  %head
    %title Tired Tots
    %meta(charset="UTF-8")
    = stylesheet_link_tag "public"
    = stylesheet_link_tag "sleep_blocks"
    = stylesheet_link_tag "chart"
    = javascript_include_tag 'jquery/jquery-1.4.3.min', 'graphite/lib/raphael.js', 'graphite/graphite.svg.js', 'application.js'
  %body
    #container
      %header
        %section
          %nav#primary
            = link_to(image_tag('logo.gif'), root_path, :title => 'home')
          %nav#secondary
            - if user_signed_in?
              Signed in as
              %em= current_user.email
              |
              = link_to "profile", edit_user_registration_path
              |
              = link_to "sign out", destroy_user_session_path
            - else
              = link_to "sign up", new_user_registration_path
              |
              = link_to "sign in", new_user_session_path

      #main
        %p.notice= notice
        %p.alert= alert

        = yield

      #root-footer

    #footer
      .content
        .attribution
          = link_to "Wes Gibbs", "http://wesgibbs.me"
          made this!
        .notices
          &copy;
          = Date.today.year
          Wes Gibbs
