!!! 5
%html(lang="en-US" class=page_class)
  %head
    %title Tired Tots
    %meta(charset="UTF-8")
    = stylesheet_link_tag "http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css", "mobile.css"
    = javascript_include_tag "http://code.jquery.com/jquery-1.5.min.js"
    = yield :pre_mobile_load
    = javascript_include_tag "http://jquerymobile.com/test/js/" # http://vurl.me/AECL
  %body
    .page(data-role='page' data-url="#{data_url}")
      .header(data-role='header')
        = yield :toolbar

      .content(data-role='content')
        = yield

      .footer(data-role='footer' data-id='myfooter' data-position='fixed')
        .navbar(data-role='navbar')
          %ul
            - if user_signed_in?
              %li= link_to 'Home', root_path, 'data-icon' => 'home', rel: 'external'
              %li= link_to 'Sign Out', destroy_user_session_path, 'data-icon' => 'delete', rel: 'external'
            - else
              %li= link_to "Sign Up", new_user_registration_path, 'data-icon' => 'plus', rel: 'external'
              %li= link_to "Sign In", new_user_session_path, 'data-icon' => 'home', rel: 'external'
            %li= link_to "Full Site", fullsite_path, 'data-icon' => 'forward', rel: 'external'
