!!! 5
%html(lang="en-US")
  %head
    %title SleepMonster
    %meta(charset="UTF-8")
    = stylesheet_link_tag "sleep_blocks"
    = stylesheet_link_tag "chart"
    = javascript_include_tag 'jquery/jquery-1.4.3.min', 'graphite/lib/raphael.js', 'graphite/graphite.svg.js'
    = javascript_include_tag :all
  %body
    %header
      %section
        %nav#primary
          = link_to "home", root_path
        %nav#secondary
          %p
            - if user_signed_in?
              signed in as
              %em= current_user.email
              |
              = link_to "profile", edit_user_registration_path
              |
              = link_to "sign out", destroy_user_session_path
            - else
              = link_to "sign in", new_user_session_path
              |
              = link_to "sign up", new_user_registration_path

    %p.notice= notice
    %p.alert= alert

    = yield
